extends ../layout

block content
  include ../header/header
  div.clearfix
  div.row
  div.col-sm-1
  include ../side-nav/side-nav
  div.col-sm-9
  p  
    | Main Body
  div.clearfix
  include ../footer/footer
