extends ../layout

block content
  include ../header/header
  div.clearfix
  div.row
    div.col-md-3
      include ../side-nav/side-nav
    div.col-md-9
      p
        | Main Body
      div.clearfix
  include ../footer/footer
