extends ../layout

block content
  include ../header/header
  div.clearfix
  div.row
    div.col-md-3
      include ../side-nav/side-nav
    div.col-md-9.padding-Bootm-Add-User
         img.img-responsive(src='../../images/banner.jpg', alt='my First App')
      div.clearfix
  include ../footer/footer
