.row
    .col-md-12.sidebar
      .mini-submenu
        span.icon-bar
        span.icon-bar
        span.icon-bar
        .list-group
       span.list-group-item.active(href='')
         | Menu
         span#slide-submenu.pull-right
           i.fa.fa-times
        a.list-group-item(href='/dashboard')
          i.fa.fa-tachometer
          | Dashboard
        a.list-group-item(href='/dashboard/add-user')
          i.fa.fa-comment-o
          |  Add User
        a.list-group-item(href='/dashboard/user')
          i.fa.fa-search
          |  User
        a.list-group-item(href='/users')
          i.fa.fa-user
          |  User Profile
        a.list-group-item(href='#')
          i.fa.fa-folder-open-o
          |  Lorem ipsum
          span.badge 14
        a.list-group-item(href='#')
          i.fa.fa-bar-chart-o
          |  Lorem ipsumr
          span.badge 14
        a.list-group-item(href='#')
          i.fa.fa-envelope
          |  Lorem ipsum
