.row
    .col-md-12.sidebar
      .mini-submenu
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .list-group
        span.list-group-item.active(href='/dashboard')
          | Dashboard
          span#slide-submenu.pull-right
            i.fa.fa-times
        a.list-group-item(href='/dashboard/add-user')
          i.fa.fa-comment-o
          |  Add User
        a.list-group-item(href='#')
          i.fa.fa-search
          |  Lorem ipsum
        a.list-group-item(href='#')
          i.fa.fa-user
          |  Lorem ipsum
        a.list-group-item(href='#')
          i.fa.fa-folder-open-o
          |  Lorem ipsum
          span.badge 14
        a.list-group-item(href='#')
          i.fa.fa-bar-chart-o
          |  Lorem ipsumr
          span.badge 14
        a.list-group-item(href='#')
          i.fa.fa-envelope
          |  Lorem ipsum
